<!DOCTYPE html>
{% load static %}
{% include 'estilo.html' %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bolsa compras</title>
</head>
<body>
  <div class="alert alert-primary" role="alert">

    
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="row" colspan="3" class="text-center">Bolsa de compra</th>
          </tr>
          <tr class="bg-info">
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            
          </tr>
        </thead>
        <tbody>
          {% if request.session.bolsita.items %}
          {% for key,value in request.session.bolsita.items %}
          <tr>
            <td>{{value.nombre}}</td>
            <td>{{value.precio}}</td>
            <td>{{value.cantidad}}
                <a href="{% url 'add' value.producto_id %}" class="badge btn btn-dark badge-dark">--</a>
                <a href="{% url 'menos' value.producto_id %}" class="badge btn btn-dark badge-dark">--</a>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td>
              <div class="alert alert-danger text-center">Sin productos</div>
            </td>
          </tr>
          {% endif %}
          <tr>
            <th scope="row">Total</th>
            <th colspan="2">$ {{total_bolsa}}</th>
          </tr>
        </tbody>

      </table>
      <br>
      <div class="col-6"><a href="{% url 'limpiar' %}}" class="btn btn-danger">Limpiar</a></div>
      <div class="col-6"><a href="#" class="btn btn-success">Guardar</a></div>
  </div>



</body>
</html>