<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilo -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

   

    <title>Multi Tienda start</title>
</head>
<body>
    <nav class="web">
      <!-- ingresamos el logo -->
      <img class='logo' src="{% static 'imagenes/logo2.png'%}">
      <div>
        <h4>Electronica</h4>
      </div>
      
      <div> 
        <!-- menu desplegable -->
        <ul class="contenedor">
          <li class="cat"><a href="">Categoria</a>
            <ul class="lista" >
              <li class="lin" ><a href="{% url 'juguetes' %}">Jugueteria</a></li>
              <li class="lin" ><a href="{% url 'electro' %}">Electronica</a></li>
              <li class="lin" ><a href="{% url 'ropa' %}">Ropa</a></li>
            </ul>
          </li>
          <li class="bolsita">
            <a href="bolsaCompra.html">
              <img class="bolsa" src="{% static 'imagenes/bolsa.png' %}">
            </a>
            
          </li>
          <li class="cat"><a href="{% url 'login' %}">Iniciar sesion</a></li>

        </ul>
      </div>
      
    </nav>
      
    <div class="container">
      <div class="row">

        <div class="col s12">
          <h1 class="center-align"> Aprovecha nuestras ofertas !!</h1>    
        </div>
              
     </div>
    
    </div>

   
</body>
</html>