<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilo -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

   

    <title>Multi Tienda start</title>
</head>
<body>
  <nav class="web">
    <!-- ingresamos el logo -->
    <img class='logo' src="{% static 'imagenes/logo2.png'%}">
    <div>
      <h4>Electronica</h4>
    </div>
    <div> 
      <!-- menu desplegable -->
      <ul class="contenedor">
        <li class="cat">
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="cat"><a href="">Categoria</a>
          <ul class="lista" >
            
              <li class="lin" ><a href="{% url 'ropa' %}">Prendas</a></li>
              <li class="lin" ><a href="{% url 'electronica' %}">Electronica</a></li>
              <li class="lin" ><a href="{% url 'jugueteria' %}">jugueteria</a></li>
           
          </ul>
        </li>
        <li class="bolsita">
          <a href="{% url 'Bolsa'%}">
            <img class="bolsa" src="{% static 'imagenes/bolsa.png' %}">
          </a>
          
        </li>
        <li class="cat"><a href="{% url 'login' %}">Iniciar sesion</a></li>

      </ul>
    </div>

  </nav>
    
    <div class="container">
      <div class="row">
        {% for p in productos %}
        <div class="col-6">
          <div class="card" style="height: 400px; width:300px; margin:50px; background-color: #DEB8FF;">
            <div class="card-body center">
              
              <p class="card-text">{{p.nombre}}</p>
              <img class="thumbnail" src="{{p.imagenes}}" style="width:100px;"> 
              <p class="card-text">{{p.categorias}}</p>
              <p class="card-text" style="margin-top: 2rem;padding: 3px;" id="detalle">{{p.detalle}}</p>
              <p class="card-text" style="margin-top: 20px;">${{p.precio}}</p>
              <a href="{% url 'add' producto.id %}" class="btn byn-primary " style="margin-top: 50px;">Agregar a la bolsa</a>
            </div>
          </div>
        </div>
  
        {% endfor %}

      </div>
    </div>
    

      

    </div>
      
    

   
</body>
</html>