<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilo -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    

    <title>formulario</title>
</head>
<body >
  <nav class="web">
    <!-- ingresamos el logo -->
    <img class='logo' src="{% static 'imagenes/logo2.png'%}">
    
    <div class="contenedor"> 
      <!-- menu desplegable -->
      <ul class="menu">
        <li class="cat"><a href="">Categoria</a>
          <ul class="lista" >
            <li class="lin" ><a href="{% url 'juguetes' %}">Jugueteria</a></li>
            <li class="lin" ><a href="{% url 'electro' %}">Electronica</a></li>
            <li class="lin" ><a href="{% url 'ropa' %}">Ropa</a></li>
          </ul>
        </li>
        <li class="bolsita">
          <a href="bolsaCompra.html">
            <img class="bolsa" src="{% static 'imagenes/bolsa.png' %}">
          </a>
          
        </li>
        <li class="cat"><a href="{% url 'login' %}">Iniciar sesion</a></li>

      </ul>
    </div>
    
  </nav>

    <div class="container">
        <div class="container pt-2" >
            <h1  >Registro</h1>
    
            <form class="row"  action="" method="post">
                {{form.as_p}}
                {% csrf_token %}
                
                
                <p>
                    <input class="with-gap"  name="group1" type="radio" id="test1" />
                    <label for="test1">Red</label>
                </p>
                <button class="btn-floating btn-large waves-effect waves-light blue">
                     <input type="submit" value="Enviar">
    
                  </button>
                    
            </form>
        </div>
                
    </div>
    
</body>
</html>