<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <title>Registro</title>
</head>
<body>
  <nav class="web">
    <!-- ingresamos el logo -->
    <img class='logo' src="{% static 'imagenes/logo2.png'%}">
    <div>
      <h4>Login</h4>
    </div>
    <div> 
      <!-- menu desplegable -->
      <ul class="contenedor">
        <li class="cat">
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="cat"><a href="">Categoria</a>
          <ul class="lista" >
            
            <li class="lin" ><a href="{% url 'ropa' %}">Prendas</a></li>
            <li class="lin" ><a href="{% url 'electronica' %}">Electronica</a></li>
            <li class="lin" ><a href="{% url 'jugueteria' %}">jugueteria</a></li>
         
        </ul>
        </li>
        <li class="bolsita">
          <a href="{% url 'Bolsa'%}">
            <img class="bolsa" src="{% static 'imagenes/bolsa.png' %}">
          </a>
          
        </li>
        <li class="cat"><a href="{% url 'login' %}">Iniciar sesion</a></li>

      </ul>
    </div>

  </nav>
   
        <div class="container">
            <div class="container pt-2">
                <h1 class="hola" >Registro</h1>
        
                <form class="row" action="" method="post">
                        {{ form2.as_p }}
                        {% csrf_token %}

                    <button class="btn-floating btn-large waves-effect waves-light red">
                        <input type="submit" value="Enviar">

                    </button>

                    <P>
                    ¿No tienes una cuenta?
                        <a href="{% url 'formulario' %}">Registrate aqui</a>
                    </P>
        
                </form>
        
                
                
                
            </div>

        </div>




    </div>

</body>
</html>